nav {
    background-color: #cfcfcf;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 5.5rem;
    justify-content: center;
    margin-left: 29rem;
  }
  
  nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
